.consulting-wrapper {
  max-width: 1512px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 50px 10px;
  @media only screen and (max-width: 878px) {
    background: #1a1a1a;
  }
}

.consulting-item {
  margin-top: 100px;
  position: relative;
  img {
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }
  .underline {
    a {
      color: #000;
      font-size: 14px;
    }
    position: absolute;
    bottom: 29px;
    right: 33px;
    padding-bottom: 1.4px;
    border-bottom: 2px solid #000;
  }
  .underline-left {
    a {
      color: #000;
      font-size: 14px;
    }
    position: absolute;
    bottom: 29px;
    left: 33px;
    padding-bottom: 1.4px;
    border-bottom: 2px solid #000;
  }
  div {
    float: left;
    text-align: left;
  }

  a {
    font-family: futura;

    padding-top: 20px;
    color: white;
  }
  &:nth-child(even) {
    margin-top: 100px;
    img {
      left: 0;
      right: auto;
    }
    div {
      float: right;
      text-align: right;
    }
  }

  @media only screen and (max-width: 878px) {
    margin-top: 0;
    img {
      z-index: 0;
      width: 100%;
      height: 373px;
      left: 0;
    }
    .underline {
      a {
        color: #fff;
      }
      position: absolute;
      bottom: 14.6px;
      right: 14.6px;
      padding-bottom: 1.4px;
      border-bottom: 2px solid #fff;
    }
    .underline-left {
      a {
        color: #fff;
      }
      position: absolute;
      bottom: 14.6px;
      left: 14.6px;
      padding-bottom: 1.4px;
      border-bottom: 2px solid #fff;
    }
    height: 450px;
    &:nth-child(even) {
      margin-top: 0;
      div {
        float: right;
        text-align: right;
      }
      .consulting-text {
        padding: 14px 15px 14px 14px;
      }
    }
  }
}

.consulting-text {
  box-sizing: border-box;
  padding: 155px 112px;
  background: white;
  margin-top: 19px;
  width: 80%;
  position: relative;
  z-index: 2;
  h1 {
    font-size: 40px;
    font-family: futura;
    padding-bottom: 15px;
  }
  p {
    font-size: 18px;
    font-family: futura;
  }
  @media only screen and (max-width: 878px) {
    background: #1a1a1a;
    color: white;
    width: 90%;
    padding: 65px 65px 65px 0;
    width: 80%;
    margin-top: 45px;
    h1 {
      font-size: 14px;
    }
    p {
      padding-bottom: 40px;
      font-size: 13px;
      text-align: justify;
    }
  }

  @media only screen and (max-width: 550px) {
    padding: 14px 14px 14px 15px;
  }
}
