@font-face {
  font-family: futura;
  src: url("../fonts/futura.ttf");
}
@font-face {
  font-family: humanist;
  src: url("../fonts/humanist.ttf");
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto_GEOMt.woff2") format("woff2"),
    url("../fonts/Roboto_GEOMt.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
